<p id="notice"><%= notice %></p>

  <h1><%= @course.title %></h1>

<p>
  <%= @course.description %>
</p>

<h2>Assignments</h2>
<ul>
	<% @course.assignments.each do |assignment| %>
	     <li><%= assignment.due_on %>: <%= assignment.description %></li>
	<% end %>
</ul>

<%= link_to 'Create a new assignment', new_course_assignment_path(@course) %>
<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
